*, * /deep/ * {
  box-sizing: border-box;
  user-select: none;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
}

* /deep/ .invert {
  filter: invert(1);
}

* /deep/ .number {
  font-family: 'font-tsar';
  font-size: 56px;
  line-height: 60px;
  -webkit-font-smoothing: antialiased;
}

* /deep/ .subtitle {
  font-family: 'font-gotham';
  text-transform: uppercase;
  font-size: 26px;
  line-height: 0.95em;
  -webkit-font-smoothing: antialiased;
  /*-webkit-transform:translateZ(0px);*/
}

* /deep/ .date {
  font-family: 'font-idlewild';
  text-transform: uppercase;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

* /deep/ .sidlee {
  font-family: 'font-sidlee';
  text-transform: uppercase;
  font-size: 26px;
  word-spacing: -0.1em;
}

* /deep/ .hidden {
  opacity: 0;
}

.wrapper {
  width: 100%;
  padding: 0 10% 60px 10%;
  background: #000;
}
.wrapper.compact {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.dashboard {
  width: 100%;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.wrapper.compact .dashboard {
  border: 2px solid white;
}



.dashboard > .item {
  position: relative;
  display: block;
  min-width: 180px;
  height: 260px;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  background: black url(../../images/dot.png) repeat 20px 20px;
  flex: 1 1 auto;
}

.wrapper.compact .dashboard > .item {
  border-left: none;
}

.wrapper.compact .dashboard > .item:last-child {
  border-bottom: none;
}

.dashboard > .item.invert {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.dashboard > .item.large {
  min-width: 360px;
  flex: 2 1 auto;
}
.dashboard > .item /deep/ .column {
  width: 50%;
  height: 100%;
  float: left;
}


@font-face {
  font-family: 'font-idlewild';
  src: url('../styles/fonts/idlewild-bold.eot?#iefix') format('embedded-opentype'), url('../styles/fonts/idlewild-bold.woff') format('woff'), url('../styles/fonts/idlewild-bold.ttf') format('truetype'), url('../styles/fonts/idlewild-bold.svg#../styles/fonts/idlewild-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-sidlee';
  src: url('../styles/fonts/sidlee-extrabold.eot?#iefix') format('embedded-opentype'),
       url('../styles/fonts/sidlee-extrabold.woff') format('woff'), url('../styles/fonts/sidlee-extrabold.ttf')  format('truetype'), url('../styles/fonts/sidlee-extrabold.svg#../styles/fonts/sidlee-extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-tsar';
  src: url('../styles/fonts/tstarpro-headline.eot?#iefix') format('embedded-opentype'),
       url('../styles/fonts/tstarpro-headline.woff') format('woff'), url('../styles/fonts/tstarpro-headline.ttf')  format('truetype'), url('../styles/fonts/tstarpro-headline.svg#../styles/fonts/tstarpro-headline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-gotham';
  src: url('../styles/fonts/gothamhtf-lightcondensed.eot?#iefix') format('embedded-opentype'),
       url('../styles/fonts/gothamhtf-lightcondensed.woff') format('woff'), url('../styles/fonts/gothamhtf-lightcondensed.ttf')  format('truetype'), url('../styles/fonts/gothamhtf-lightcondensed.svg#../styles/fonts/gothamhtf-lightcondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
