:host {
  display: block;
}
.wrapper {
  width: 80%;
  margin: 0 10% 60px 10%;
}
.wrapper.compact {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
.dashboard {
  width: 100%;
  border-top: 2px solid white;
  border-right: 2px solid white;
}
.dashboard > .item {
  position: relative;
  display: block;
  min-width: 180px;
  height: 260px;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  background: black url(../../images/dot.png) repeat 20px 20px;
  flex: 1 1 auto;
}
.dashboard > .item.invert {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.dashboard > .item.large {
  min-width: 360px;
  flex: 2 1 auto;
}
.dashboard > .item /deep/ .column {
  width: 50%;
  height: 100%;
  float: left;
}
